<div class="loginComponent flex flex-col items-center justify-center">
  <h1 class="mt-5 font-semibold text-3xl">Iniciar sesion</h1>
  <label *ngIf="customError" class="text-red-700">
    {{ customError }}
  </label>
  <form
    [formGroup]="loginForm"
    (ngSubmit)="submitForm()"
    class="flex flex-col mt-3"
  >
    <label>Nombre de usuario</label>
    <label
      class="text-red-700"
      *ngIf="
        loginForm.get('username')?.errors && loginForm.get('username')?.touched
      "
      >Ingrese un nombre de usuario</label
    >
    <input
      type="text"
      formControlName="username"
      placeholder="Nombre de usuario"
      class="w-full border-2 rounded-lg p-1"
    />
    <label class="mt-3">Contraseña</label>
    <label
      class="text-red-700"
      *ngIf="
        loginForm.get('password')?.errors && loginForm.get('password')?.touched
      "
      >Ingrese una contraseña</label
    >
    <input
      class="w-full border-2 rounded-lg p-1"
      type="password"
      formControlName="password"
      placeholder="Contraseña"
    />
    <button
      type="submit"
      class="p-2 rounded-md bg-blue-400 text-white my-3 disabled:bg-gray-400"
      [disabled]="loginForm.invalid"
    >
      Iniciar sesion
    </button>
  </form>
  <a routerLink="/register" class="underline">Crear cuenta</a>
</div>
