<div class="myProducts flex flex-col">
  <h1 class="text-center mt-5 font-semibold text-2xl">Mis productos</h1>
  <app-create-product *ngIf="createForm && !editForm"></app-create-product>
  <app-create-product
    *ngIf="!createForm && editForm"
    [editForm]="true"
    [product]="product"
  ></app-create-product>
  <div class="productsList flex flex-wrap items-center justify-center">
    <div>
      <button (click)="createFormButton()">Añadir producto</button>
    </div>
    <app-product-card
      *ngFor="let product of userProducts"
      [product]="product"
      [userButtons]="true"
      (userButtonClicked)="eventProduct($event)"
    ></app-product-card>
  </div>
</div>
