<div class="categoryComponent pl-5">
  <h1 class="categoryTitle font-semibold text-3xl mt-5">{{ title }}</h1>
  <div class="subCategories flex items-center justify-center flex-wrap">
    <app-category-card [category]="goBack" routerLink=""></app-category-card>
    <app-category-card
      *ngFor="let subCategory of subCategories"
      [category]="subCategory"
      [routerLink]="['/sub-category', subCategory.categoryName]"
    ></app-category-card>
  </div>

  <div
    *ngIf="productsList.length === 0"
    class="products mt-6 flex items-center justify-start"
  >
    <h1 class="font-semibold text-2xl mt-5">
      No se han encontrado productos...
    </h1>
  </div>

  <div
    *ngIf="productsList.length !== 0"
    class="products mt-6 flex items-center justify-start flex-wrap"
  >
    <app-product-card
      *ngFor="let product of productsList"
      [product]="product"
      [routerLink]="['/product', product.id]"
    ></app-product-card>
  </div>
</div>
