<div
  class="productComponent flex flex-col items-center justify-center"
  *ngIf="!loading"
>
  <div class="flex mt-8 px-20">
    <img
      [src]="product.image"
      [alt]="product.name"
      class="w-96 h-auto max-h-[470px] rounded-lg rounded-tr-none rounded-br-none"
    />
    <div
      class="border-2 rounded-lg rounded-tl-none rounded-bl-none text-center p-4"
    >
      <h1 class="productName text-4xl font-bold">{{ product.name }}</h1>
      <p
        class="productSeller font-medium text-lg my-2"
        [routerLink]="['/user', product.sellerId]"
      >
        {{ product.seller }}
      </p>
      <p class="productPrice font-semibold text-3xl">${{ product.price }}</p>
      <div class="flex flex-col mt-10">
        <button class="buyNow p-2 rounded-md bg-blue-400 text-white my-1">
          Buy
        </button>
        <button
          class="addToCart p-2 rounded-md bg-blue-400 text-white my-2"
          (click)="addTo()"
          *ngIf="!inCart"
        >
          Add to cart
        </button>
        <button
          class="removeFromCart p-2 rounded-md bg-blue-400 text-white my-2"
          (click)="removeFromCart()"
          *ngIf="inCart"
        >
          Remove from cart
        </button>
      </div>
    </div>
  </div>
  <app-product-carousel
    [categoryName]="product.category"
    [productId]="product.id"
  ></app-product-carousel>
  <app-product-carousel
    [categoryName]="product.sub_category"
    [productId]="product.id"
    [subCategory]="true"
  ></app-product-carousel>
</div>
