<div class="myProductsComponent flex flex-col gap-3">
  <h1 class="text-center mt-5 font-semibold text-2xl">Mis productos</h1>
  <app-create-product
    *ngIf="createForm && !editForm"
    (productSubmitSuccess)="productSucces()"
  ></app-create-product>
  <app-create-product
    *ngIf="!createForm && editForm"
    [editForm]="true"
    [product]="product"
    (productSubmitSuccess)="productSucces()"
  ></app-create-product>
  <button
    (click)="openFormButton()"
    class="p-2 rounded-md bg-blue-400 text-white w-fit m-auto"
    *ngIf="!editForm && !createForm"
  >
    Añadir producto
  </button>
  <button
    (click)="closeFormButton()"
    class="p-2 rounded-md bg-red-400 text-white w-fit m-auto"
    *ngIf="editForm || createForm"
  >
    Cerrar Formulario
  </button>
  <div class="productsList flex flex-wrap items-center justify-center">
    <app-product-card
      *ngFor="let product of userProducts"
      [product]="product"
      [userButtons]="true"
      (userButtonClicked)="eventProduct($event)"
    ></app-product-card>
  </div>
  <div class="flex items-center justify-center mt-5 gap-2">
    <button
      *ngIf="previousPage !== null"
      (click)="previousPageButton()"
      class="p-2 rounded-md bg-blue-400 text-white"
    >
      Anterior
    </button>

    <button
      *ngIf="nextPage !== null"
      (click)="nextPageButton()"
      class="p-2 rounded-md bg-blue-400 text-white"
    >
      Siguiente
    </button>
  </div>
</div>
