<div class="homeComponent flex flex-col">
  <h1 class="text-center mt-3 font-semibold text-2xl">Categorias</h1>
  <div class="categories flex flex-wrap items-center justify-center">
    <app-category-card
      class="categoryCard"
      *ngFor="let category of categoriesList"
      [category]="category"
      [routerLink]="['category', category.categoryName]"
    ></app-category-card>
  </div>
  <div *ngIf="lastVisited.length !== 0">
    <h1 class="text-center mt-3 font-semibold text-2xl">
      Ultimos productos vistos
    </h1>
    <div
      class="lastVisiteds flex flex-wrap items-center justify-center mt-4"
      *ngIf="lastVisited.length !== 0"
    >
      <app-product-card
        *ngFor="let product of lastVisited"
        [product]="product"
        [routerLink]="['product', product.id]"
      ></app-product-card>
    </div>
  </div>
</div>
