<div
  class="registerComponent flex flex-col items-center justify-center text-center"
>
  <h1 class="mt-5 font-semibold text-3xl">Crear cuenta</h1>
  <form
    [formGroup]="registerForm"
    (ngSubmit)="submitForm()"
    class="flex flex-col"
  >
    <div class="flex gap-5 mt-3">
      <div class="flex flex-col">
        <label
          *ngIf="
            registerForm.get('first_name')?.errors &&
            registerForm.get('first_name')?.touched
          "
          >Ingrese un nombre</label
        >
        <input
          type="text"
          placeholder="Nombre"
          formControlName="first_name"
          class="w-52 border-2 rounded-lg p-1"
        />
      </div>
      <div class="flex flex-col">
        <label
          *ngIf="
            registerForm.get('last_name')?.errors &&
            registerForm.get('last_name')?.touched
          "
          >Ingrese un apellido</label
        >
        <input
          type="text"
          class="w-52 border-2 rounded-lg p-1"
          placeholder="Apellido"
          formControlName="last_name"
        />
      </div>
    </div>
    <label
      *ngIf="
        registerForm.get('username')?.errors &&
        registerForm.get('username')?.touched
      "
      >Ingrese un nombre de usuario</label
    >
    <input
      class="w-full border-2 mt-3 rounded-lg p-1"
      type="text"
      placeholder="Nombre de usuario"
      formControlName="username"
    />
    <label
      *ngIf="
        registerForm.get('email')?.errors && registerForm.get('email')?.touched
      "
      >Ingrese un correo electronico</label
    >
    <input
      class="w-full border-2 mt-3 rounded-lg p-1"
      type="email"
      placeholder="Correo electronico"
      formControlName="email"
    />
    <label
      *ngIf="
        registerForm.get('password')?.errors &&
        registerForm.get('password')?.touched
      "
      >Ingrese una contraseña</label
    >
    <input
      class="w-full border-2 mt-3 rounded-lg p-1"
      type="password"
      placeholder="Contraseña"
      formControlName="password"
    />
    <label
      *ngIf="
        registerForm.getError('notEqual') &&
        registerForm.get('confirmPassword')?.touched
      "
      >Las contraseñas no coinciden</label
    >
    <input
      class="w-full border-2 mt-3 rounded-lg p-1"
      type="password"
      placeholder="Confirmar contraseña"
      formControlName="confirmPassword"
    />

    <button
      type="submit"
      [disabled]="registerForm.invalid"
      class="mt-3 p-2 rounded-md bg-blue-400 text-white my-1"
    >
      Crear cuenta
    </button>
  </form>
  <a [routerLink]="['/user/login']" class="underline">Iniciar sesion</a>
</div>
