<div
  class="navbarComponent flex justify-center items-center bg-slate-800 space-x-2"
>
  <img
    src="../../../../assets/images/Amazon_icon.png"
    alt="icon page"
    class="icon w-20 h-20 cursor-pointer"
    [routerLink]="['/']"
  />
  <form [formGroup]="searchForm" (ngSubmit)="submitForm()" class="relative">
    <input
      type="text"
      formControlName="searchValue"
      class="h-10 rounded-md px-2 w-44 focus:outline-none"
    />
    <button type="submit" class="text-black bg-white h-10 rounded-md px-1">
      Buscar
    </button>
  </form>
  <div>
    <button class="cartButton text-white" (click)="cart()">Carrito</button>
    <button
      class="userButton text-white ml-2"
      (click)="login()"
      *ngIf="token === ''"
    >
      Usuario
    </button>
    <button
      class="userButton text-white ml-2"
      *ngIf="token !== ''"
      (click)="profile()"
    >
      Profile
    </button>
    <button
      class="logOut text-white ml-2"
      *ngIf="token !== ''"
      (click)="logOut()"
    >
      Log Out
    </button>
  </div>
</div>
