<div
  class="navbarComponent flex justify-center items-center bg-slate-800 space-x-2"
>
  <img
    src="../../../../assets/images/Amazon_icon.png"
    alt="icon page"
    class="icon w-20 h-20 cursor-pointer"
    [routerLink]="['/']"
  />
  <form [formGroup]="searchForm" (ngSubmit)="submitForm()" class="relative">
    <input
      type="text"
      formControlName="searchValue"
      class="h-10 rounded-md px-2 w-44 focus:outline-none"
    />
    <button type="submit" class="text-black bg-white h-10 rounded-md px-1">
      Buscar
    </button>
  </form>
  <div class="flex">
    <a class="cartButton text-white" routerLink="/cart">Carrito</a>
    <a
      class="userButton text-white ml-2"
      *ngIf="token === ''"
      routerLink="/login"
    >
      Iniciar Sesion
    </a>
    <div class="relative">
      <button class="text-white ml-2" (click)="userMenu()" *ngIf="token !== ''">
        User
      </button>
      <div
        class="userMenu absolute bg-slate-200 text-black flex flex-col w-32 mt-1 -left-10 border-2 rounded-md"
        *ngIf="activateUseMenu"
      >
        <button class="userButton p-1" *ngIf="token !== ''" (click)="profile()">
          Perfil
        </button>
        <button
          class="createButton p-1 border-t-[1px] border-t-gray-500"
          *ngIf="token !== ''"
          (click)="createProduct()"
        >
          Crear producto
        </button>
        <button
          class="logOut p-1 border-t-[1px] border-t-gray-500"
          *ngIf="token !== ''"
          (click)="logOut()"
        >
          Cerra sesion
        </button>
      </div>
    </div>
  </div>
</div>
