<div
  class="longProductCard border-2 rounded-lg flex m-auto text-center p-2 h-fit"
>
  <img [src]="product.image" [alt]="product.name" class="w-40 rounded-lg" />
  <div class="ml-auto">
    <a
      class="productName text-2xl font-bold underline"
      [routerLink]="['/product', product.id]"
      >{{ product.name }}</a
    >
    <a
      class="productSeller font-medium text-md my-2 block"
      [routerLink]="['/user', product.sellerId]"
    >
      {{ product.seller }}
    </a>
    <p class="productPrice font-semibold text-2xl">${{ product.price }}</p>
    <button
      class="removeProduct p-2 rounded-md bg-blue-400 text-white mt-6"
      (click)="removeProduct()"
    >
      Quitar del carrito
    </button>
  </div>
</div>
