<div class="productCardComponent mr-6 border-2 rounded-md p-3">
  <img
    [src]="product.image"
    [alt]="product.name"
    class="w-full max-w-[200px] h-[300px] rounded-md"
  />

  <h1 class="productPrice text-2xl font-semibold">${{ product.price }}</h1>
  <h2 class="productName text-lg">{{ product.name }}</h2>
  <div *ngIf="userButtons" class="flex gap-1">
    <button class="editButton text-green-700" (click)="editButton()">
      Editar
    </button>
    <button class="deleteButton text-red-600" (click)="deleteButton()">
      Eliminar
    </button>
  </div>
</div>
