@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
}
